@inherits LayoutComponentBase

<div class="page">

    <main>
        <article class="p-0 m-0 mx-0 px-0" style="background-color:black;">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
