/* _content/Istebrek-CV-Webb-FE/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-j3v0bynjwg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-j3v0bynjwg] {
    flex: 1;
}

.sidebar[b-j3v0bynjwg] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-j3v0bynjwg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-j3v0bynjwg]  a, .top-row[b-j3v0bynjwg]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-j3v0bynjwg]  a:hover, .top-row[b-j3v0bynjwg]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-j3v0bynjwg]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-j3v0bynjwg] {
        justify-content: space-between;
    }

    .top-row[b-j3v0bynjwg]  a, .top-row[b-j3v0bynjwg]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-j3v0bynjwg] {
        flex-direction: row;
    }

    .sidebar[b-j3v0bynjwg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-j3v0bynjwg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-j3v0bynjwg]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-j3v0bynjwg], article[b-j3v0bynjwg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-j3v0bynjwg] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-j3v0bynjwg] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Istebrek-CV-Webb-FE/Components/Pages/Skills.razor.rz.scp.css */
header[b-puqpk0id01] {
    background-color: black;
}

body[b-puqpk0id01], html[b-puqpk0id01] {
    margin: 0;
    padding: 0;
    font-family: Con;
    overflow-x: hidden;
    background-color: black;
    height: 100vh;
}

#profile-div[b-puqpk0id01] {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: black;
    padding: 20px 0;
}

    #profile-div img[b-puqpk0id01] {
        width: 80%;
        max-width: 200px;
        height: auto;
    }

#my-name[b-puqpk0id01] {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-family: Heavy;
    letter-spacing: 2px;
    margin-top: 10px;
}

#work[b-puqpk0id01] {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: Regular;
    letter-spacing: 2px;
    margin-top: 5px;
}

#all-content[b-puqpk0id01] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10px;
    overflow: hidden;
}

#sections-div[b-puqpk0id01] {
    width: 90%;
    max-width: 500px;
    background-color: black;
    text-align: left;
    margin-top: 20px;
    overflow-y: auto;
}

.toggle-header[b-puqpk0id01] {
    cursor: pointer;
    color: #007bff;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
}

.arrow[b-puqpk0id01] {
    margin-left: 10px;
    font-size: 1.2rem;
}

.table-container[b-puqpk0id01] {
    width: 100%;
    overflow-x: auto;
    max-height: 50vh;
    overflow-y: auto;
}

.skills-table[b-puqpk0id01] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .skills-table th[b-puqpk0id01], .skills-table td[b-puqpk0id01] {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: black !important;
    }

    .skills-table th[b-puqpk0id01] {
        background-color: #f4f4f4;
        color: black !important;
    }

.even-row[b-puqpk0id01] {
    background-color: white;
}

.odd-row[b-puqpk0id01] {
    background-color: #f0f0f0;
}

#skills-table[b-puqpk0id01] {
    width: 100%;
    overflow-y: auto;
    margin: 20px 0;
}

@media (min-width: 768px) {
    #all-content[b-puqpk0id01] {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        overflow: hidden;
    }

    #sections-div[b-puqpk0id01] {
        width: 80vw;
        max-height: 80vh;
    }

    #profile-div img[b-puqpk0id01] {
        max-width: 250px;
    }

    .toggle-header[b-puqpk0id01] {
        width: 100%;
    }

    #skills-table[b-puqpk0id01] {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    #sections-div[b-puqpk0id01] {
        max-width: 600px;

    }

    .toggle-header[b-puqpk0id01] {
        width: 40vw;
    }

    #skills-table[b-puqpk0id01] {
        width: 40vw;
    }
    #sections-div > div[b-puqpk0id01] {
        width: 100%;
    }
}

#admin-icon[b-puqpk0id01] {
    text-align: center;
}
